# 2024 Dubtech Datathon
### Collaborative project focused on Opioid risk machine learning

##### Objective:
1) Develop a predictive model to forecast future drug overdose death rates for each demographic group. 
2) Build a machine learning model to identify individuals or demographics at the highest risk of drug overdose deaths. Use features like drug type, age, sex, race, and Hispanic origin.

In [1]:
import pandas as pd
import seaborn
import matplotlib.pyplot as plt
import os
import scipy
import numpy as np

%matplotlib inline

In [33]:
# test read source data
source_file = os.path.join(os.getcwd(),'Drug_overdose_death_rates__by_drug_type__sex__age__race__and_Hispanic_origin__United_States_20240518.csv')
opioid_df = pd.read_csv(source_file)

opioid_df.head(50)

,INDICATOR,PANEL,PANEL_NUM,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE,AGE_NUM,ESTIMATE,FLAG
0,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,1999,1,All ages,1.1,6.1,NaN
1,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2000,2,All ages,1.1,6.2,NaN
2,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2001,3,All ages,1.1,6.8,NaN
3,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2002,4,All ages,1.1,8.2,NaN
4,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2003,5,All ages,1.1,8.9,NaN
5,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2004,6,All ages,1.1,9.4,NaN
6,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2005,7,All ages,1.1,10.1,NaN
7,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2006,8,All ages,1.1,11.5,NaN
8,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2007,9,All ages,1.1,11.9,NaN
9,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2008,10,All ages,1.1,11.9,NaN
10,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2009,11,All ages,1.1,11.9,NaN
11,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2010,12,All ages,1.1,12.3,NaN
12,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2011,13,All ages,1.1,13.2,NaN
13,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2012,14,All ages,1.1,13.1,NaN
14,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2013,15,All ages,1.1,13.8,NaN
15,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2014,16,All ages,1.1,14.7,NaN
16,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2015,17,All ages,1.1,16.3,NaN
17,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2016,18,All ages,1.1,19.8,NaN
18,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2017,19,All ages,1.1,21.7,NaN
19,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,1999,1,All ages,1.1,8.2,NaN
20,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2000,2,All ages,1.1,8.3,NaN
21,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2001,3,All ages,1.1,9.0,NaN
22,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2002,4,All ages,1.1,10.6,NaN
23,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2003,5,All ages,1.1,11.5,NaN
24,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2004,6,All ages,1.1,11.8,NaN
25,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2005,7,All ages,1.1,12.8,NaN
26,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2006,8,All ages,1.1,14.8,NaN
27,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2007,9,All ages,1.1,14.9,NaN
28,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2008,10,All ages,1.1,14.9,NaN
29,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2009,11,All ages,1.1,14.8,NaN
30,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2010,12,All ages,1.1,15.0,NaN
31,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2011,13,All ages,1.1,16.1,NaN
32,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2012,14,All ages,1.1,16.1,NaN
33,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, crude",2,Sex,2,Male,2.1,2017,19,All ages,1.1,29.0,NaN
34,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2013,15,All ages,1.1,17.0,NaN
35,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2014,16,All ages,1.1,18.3,NaN
36,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2015,17,All ages,1.1,20.8,NaN
37,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2016,18,All ages,1.1,26.2,NaN
38,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Male,2.1,2017,19,All ages,1.1,29.1,NaN
39,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,1999,1,All ages,1.1,3.9,NaN
40,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,2000,2,All ages,1.1,4.1,NaN
41,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,2001,3,All ages,1.1,4.6,NaN
42,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,2002,4,All ages,1.1,5.8,NaN
43,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,2003,5,All ages,1.1,6.4,NaN
44,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,2004,6,All ages,1.1,6.9,NaN
45,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,2005,7,All ages,1.1,7.3,NaN
46,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,2006,8,All ages,1.1,8.2,NaN
47,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,2007,9,All ages,1.1,8.8,NaN
48,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,2008,10,All ages,1.1,8.9,NaN
49,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex,2,Female,2.2,2009,11,All ages,1.1,9.1,NaN

In [59]:
# exploratory data analysis - descriptive analyses
opioid_df.describe()

,PANEL_NUM,UNIT_NUM,STUB_NAME_NUM,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE_NUM,ESTIMATE
count,6228.000000,6228.000000,6228.000000,6228.000000,6228.000000,6228.000000,6228.000000,5117.000000
mean,2.500000,1.578035,3.028902,3.383006,2008.664740,10.664740,1.354913,4.743443
std,1.707962,0.493913,1.447036,1.526819,5.849512,5.849512,0.301459,6.424471
min,0.000000,1.000000,0.000000,0.100000,1999.000000,1.000000,1.100000,0.000000
25%,1.000000,1.000000,2.000000,2.100000,2004.000000,6.000000,1.100000,0.800000
50%,2.500000,2.000000,3.000000,3.220000,2009.000000,11.000000,1.200000,2.100000
75%,4.000000,2.000000,4.000000,4.600000,2014.000000,16.000000,1.600000,6.000000
max,5.000000,2.000000,5.000000,5.930000,2018.000000,20.000000,1.910000,54.300000

In [65]:
# inspect all column unique values
opioid_df.apply(lambda x: list(x.unique()))

INDICATOR                               [Drug overdose death rates]
PANEL             [All drug overdose deaths, Drug overdose death...
PANEL_NUM                                        [0, 1, 2, 3, 4, 5]
UNIT              [Deaths per 100,000 resident population, age-a...
UNIT_NUM                                                     [1, 2]
STUB_NAME         [Total, Sex, Sex and race, Sex and race and Hi...
STUB_NAME_NUM                                    [0, 2, 4, 5, 1, 3]
STUB_LABEL        [All persons, Male, Female, Male: White, Male:...
STUB_LABEL_NUM    [0.1, 2.1, 2.2, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, ...
YEAR              [1999, 2000, 2001, 2002, 2003, 2004, 2005, 200...
YEAR_NUM          [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
AGE               [All ages, Under 15 years, 15-24 years, 25-34 ...
AGE_NUM           [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, ...
ESTIMATE          [6.1, 6.2, 6.8, 8.2, 8.9, 9.4, 10.1, 11.5, 11....
FLAG                                                       [nan, *]
dtype: object

In [84]:
# column assessment
tmp = pd.concat([pd.DataFrame(opioid_df.apply(lambda x: list(x.unique()))),
          pd.DataFrame(opioid_df.nunique())],
          axis=1)

tmp.columns = ['unique_values','nuniques']
tmp

                                                    unique_values  nuniques
INDICATOR                             [Drug overdose death rates]         1
PANEL           [All drug overdose deaths, Drug overdose death...         6
PANEL_NUM                                      [0, 1, 2, 3, 4, 5]         6
UNIT            [Deaths per 100,000 resident population, age-a...         2
UNIT_NUM                                                   [1, 2]         2
STUB_NAME       [Total, Sex, Sex and race, Sex and race and Hi...         8
STUB_NAME_NUM                                  [0, 2, 4, 5, 1, 3]         6
STUB_LABEL      [All persons, Male, Female, Male: White, Male:...        52
STUB_LABEL_NUM  [0.1, 2.1, 2.2, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, ...        50
YEAR            [1999, 2000, 2001, 2002, 2003, 2004, 2005, 200...        20
YEAR_NUM        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...        20
AGE             [All ages, Under 15 years, 15-24 years, 25-34 ...        10
AGE_NUM         [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, ...        10
ESTIMATE        [6.1, 6.2, 6.8, 8.2, 8.9, 9.4, 10.1, 11.5, 11....       322
FLAG                                                     [nan, *]         1

In [63]:
# check on FLAG field
print(opioid_df.FLAG.unique())

opioid_df.groupby('FLAG').count()

[nan '*']

,INDICATOR,PANEL,PANEL_NUM,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE,AGE_NUM,ESTIMATE
FLAG,,,,,,,,,,,,,,
*,1111,1111,1111,1111,1111,1111,1111,1111,1111,1111,1111,1111,1111,0

In [64]:
# inspect flagged rows
opioid_df.query('FLAG == "*"')

,INDICATOR,PANEL,PANEL_NUM,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE,AGE_NUM,ESTIMATE,FLAG
1104,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Sex and race,4,Male: Asian or Pacific Islander,4.40,1999,1,All ages,1.10,NaN,*
1184,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Sex and race,4,Female: Asian or Pacific Islander,4.80,1999,1,All ages,1.10,NaN,*
1185,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Sex and race,4,Female: Asian or Pacific Islander,4.80,2000,2,All ages,1.10,NaN,*
1186,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Sex and race,4,Female: Asian or Pacific Islander,4.80,2001,3,All ages,1.10,NaN,*
1187,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Sex and race,4,Female: Asian or Pacific Islander,4.80,2002,4,All ages,1.10,NaN,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6217,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Male: 75-84 years,3.18,2018,20,75-84 years,1.90,NaN,*
6218,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Male: 85 years and over,3.19,2018,20,85 years and over,1.91,NaN,*
6219,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: Under 15 years,3.21,2018,20,Under 15 years,1.20,NaN,*
6226,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 75-84 years,3.28,2018,20,75-84 years,1.90,NaN,*
6227,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 85 years and over,3.29,2018,20,85 years and over,1.91,NaN,*

INDICATOR                               [Drug overdose death rates]
PANEL             [All drug overdose deaths, Drug overdose death...
PANEL_NUM                                        [0, 1, 2, 3, 4, 5]
UNIT              [Deaths per 100,000 resident population, age-a...
UNIT_NUM                                                     [1, 2]
STUB_NAME         [Total, Sex, Sex and race, Sex and race and Hi...
STUB_NAME_NUM                                    [0, 2, 4, 5, 1, 3]
STUB_LABEL        [All persons, Male, Female, Male: White, Male:...
STUB_LABEL_NUM    [0.1, 2.1, 2.2, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, ...
YEAR              [1999, 2000, 2001, 2002, 2003, 2004, 2005, 200...
YEAR_NUM          [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
AGE               [All ages, Under 15 years, 15-24 years, 25-34 ...
AGE_NUM           [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, ...
ESTIMATE          [6.1, 6.2, 6.8, 8.2, 8.9, 9.4, 10.1, 11.5, 11....
FLAG                                                       [nan, *]
dtype: object

In [57]:
pd.pivot_table(index=['YEAR_NUM','YEAR'], 
               data=opioid_df)

,,AGE_NUM,ESTIMATE,PANEL_NUM,STUB_LABEL_NUM,STUB_NAME_NUM,UNIT_NUM
YEAR_NUM,YEAR,,,,,,
1,1999,1.359412,2.305714,2.5,3.351176,3.000000,1.588235
2,2000,1.359412,2.300939,2.5,3.351176,3.000000,1.588235
3,2001,1.359412,2.433333,2.5,3.351176,3.000000,1.588235
4,2002,1.359412,2.864957,2.5,3.351176,3.000000,1.588235
5,2003,1.359412,3.125214,2.5,3.351176,3.000000,1.588235
6,2004,1.359412,3.276987,2.5,3.351176,3.000000,1.588235
7,2005,1.359412,3.459514,2.5,3.351176,3.000000,1.588235
8,2006,1.359412,3.957831,2.5,3.351176,3.000000,1.588235
9,2007,1.359412,4.063200,2.5,3.351176,3.000000,1.588235
10,2008,1.359412,4.064615,2.5,3.351176,3.000000,1.588235
11,2009,1.359412,4.249425,2.5,3.351176,3.000000,1.588235
12,2010,1.359412,4.328405,2.5,3.351176,3.000000,1.588235
13,2011,1.359412,4.546565,2.5,3.351176,3.000000,1.588235
14,2012,1.359412,4.571805,2.5,3.351176,3.000000,1.588235
15,2013,1.359412,4.946008,2.5,3.351176,3.000000,1.588235
16,2014,1.359412,5.457678,2.5,3.351176,3.000000,1.588235
17,2015,1.359412,6.139259,2.5,3.351176,3.000000,1.588235
18,2016,1.359412,7.756618,2.5,3.351176,3.000000,1.588235
19,2017,1.359412,8.574910,2.5,3.351176,3.000000,1.588235
20,2018,1.291739,8.601105,2.5,3.830000,3.434783,1.434783

In [ ]:
"""
INDICATOR seems to be metadata; not useful variable
UNIT_NUM and UNIT are 1:1. ESTIMATE seems to be the number related to the UNIT.

YEAR_NUM and YEAR are 1:1. Seems to be useful as the linear temporal relationship and order

AGE_NUM and AGE are 1:1. AGE_NUM seems to categorical and codified; do not use AGE_NUM.
PANEL_NUM and PANEL are 1:1. Useful for stratifying the drug type
STUB_NAME_NUM and STUB_NAME are 1:1. STUB_NAME_NUM 4 and 5 seems to have redundant categories in STUB_NAME


"""

In [53]:
# Exploring the panel and indicator values
pd.pivot_table(index=['INDICATOR','PANEL_NUM', 'PANEL'], 
               data=opioid_df)

                                                                                         AGE_NUM  \
INDICATOR                 PANEL_NUM PANEL
Drug overdose death rates 0         All drug overdose deaths                            1.354913
                          1         Drug overdose deaths involving any opioid           1.354913
                          2         Drug overdose deaths involving natural and semi...  1.354913
                          3         Drug overdose deaths involving methadone            1.354913
                          4         Drug overdose deaths involving other synthetic ...  1.354913
                          5         Drug overdose deaths involving heroin               1.354913

                                                                                         ESTIMATE  \
INDICATOR                 PANEL_NUM PANEL
Drug overdose death rates 0         All drug overdose deaths                            10.940212
                          1         Drug overdose deaths involving any opioid            6.306219
                          2         Drug overdose deaths involving natural and semi...   2.619565
                          3         Drug overdose deaths involving methadone             1.279806
                          4         Drug overdose deaths involving other synthetic ...   2.326223
                          5         Drug overdose deaths involving heroin                2.262074

                                                                                        STUB_LABEL_NUM  \
INDICATOR                 PANEL_NUM PANEL
Drug overdose death rates 0         All drug overdose deaths                                  3.383006
                          1         Drug overdose deaths involving any opioid                 3.383006
                          2         Drug overdose deaths involving natural and semi...        3.383006
                          3         Drug overdose deaths involving methadone                  3.383006
                          4         Drug overdose deaths involving other synthetic ...        3.383006
                          5         Drug overdose deaths involving heroin                     3.383006

                                                                                        STUB_NAME_NUM  \
INDICATOR                 PANEL_NUM PANEL
Drug overdose death rates 0         All drug overdose deaths                                 3.028902
                          1         Drug overdose deaths involving any opioid                3.028902
                          2         Drug overdose deaths involving natural and semi...       3.028902
                          3         Drug overdose deaths involving methadone                 3.028902
                          4         Drug overdose deaths involving other synthetic ...       3.028902
                          5         Drug overdose deaths involving heroin                    3.028902

                                                                                        UNIT_NUM  \
INDICATOR                 PANEL_NUM PANEL
Drug overdose death rates 0         All drug overdose deaths                            1.578035
                          1         Drug overdose deaths involving any opioid           1.578035
                          2         Drug overdose deaths involving natural and semi...  1.578035
                          3         Drug overdose deaths involving methadone            1.578035
                          4         Drug overdose deaths involving other synthetic ...  1.578035
                          5         Drug overdose deaths involving heroin               1.578035

                                                                                              YEAR  \
INDICATOR                 PANEL_NUM PANEL
Drug overdose death rates 0         All drug overdose deaths                            2008.66474
                          1         Drug overdose deaths involving any opioid           2008.66474
                          2         Drug overdose deaths involving natural and semi...  2008.66474
                          3         Drug overdose deaths involving methadone            2008.66474
                          4         Drug overdose deaths involving other synthetic ...  2008.66474
                          5         Drug overdose deaths involving heroin               2008.66474

                                                                                        YEAR_NUM
INDICATOR                 PANEL_NUM PANEL
Drug overdose death rates 0         All drug overdose deaths                            10.66474
                          1         Drug overdose deaths involving any opioid           10.66474
                          2         Drug overdose deaths involving natural and semi...  10.66474
                          3         Drug overdose deaths involving methadone            10.66474
                          4         Drug overdose deaths involving other synthetic ...  10.66474
                          5         Drug overdose deaths involving heroin               10.66474

In [55]:
pd.pivot_table(index=['STUB_NAME_NUM','STUB_NAME'], data=opioid_df)

                                                              AGE_NUM  \
STUB_NAME_NUM STUB_NAME
0             Total                                              1.10
1             Age                                                1.59
2             Sex                                                1.10
3             Sex and age                                        1.59
4             Sex and race                                       1.10
              Sex and race (single race)                         1.10
5             Sex and race and Hispanic origin                   1.10
              Sex and race and Hispanic origin (single race)     1.10

                                                              ESTIMATE  \
STUB_NAME_NUM STUB_NAME
0             Total                                           4.566250
1             Age                                             4.818029
2             Sex                                             4.576042
3             Sex and age                                     5.201151
4             Sex and race                                    4.015345
              Sex and race (single race)                      8.882353
5             Sex and race and Hispanic origin                4.274748
              Sex and race and Hispanic origin (single race)  8.058929

                                                              PANEL_NUM  \
STUB_NAME_NUM STUB_NAME
0             Total                                                 2.5
1             Age                                                   2.5
2             Sex                                                   2.5
3             Sex and age                                           2.5
4             Sex and race                                          2.5
              Sex and race (single race)                            2.5
5             Sex and race and Hispanic origin                      2.5
              Sex and race and Hispanic origin (single race)        2.5

                                                              STUB_LABEL_NUM  \
STUB_NAME_NUM STUB_NAME
0             Total                                                    0.100
1             Age                                                      1.500
2             Sex                                                      2.150
3             Sex and age                                              3.200
4             Sex and race                                             4.450
              Sex and race (single race)                               4.350
5             Sex and race and Hispanic origin                         5.541
              Sex and race and Hispanic origin (single race)           5.605

                                                              UNIT_NUM  \
STUB_NAME_NUM STUB_NAME
0             Total                                                1.5
1             Age                                                  2.0
2             Sex                                                  1.5
3             Sex and age                                          2.0
4             Sex and race                                         1.0
              Sex and race (single race)                           1.0
5             Sex and race and Hispanic origin                     1.0
              Sex and race and Hispanic origin (single race)       1.0

                                                                YEAR  YEAR_NUM
STUB_NAME_NUM STUB_NAME
0             Total                                           2008.5      10.5
1             Age                                             2008.5      10.5
2             Sex                                             2008.5      10.5
3             Sex and age                                     2008.5      10.5
4             Sex and race                                    2008.5      10.5
              Sex and race (single race)                      2018.0      20.0
5             Sex and race and Hispanic origin                2008.5      10.5
              Sex and race and Hispanic origin (single race)  2018.0      20.0

In [58]:
pd.pivot_table(index=['AGE_NUM','AGE'], data=opioid_df)

,,ESTIMATE,PANEL_NUM,STUB_LABEL_NUM,STUB_NAME_NUM,UNIT_NUM,YEAR,YEAR_NUM
AGE_NUM,AGE,,,,,,,
1.10,All ages,4.423863,2.5,4.195904,3.783133,1.120482,2008.843373,10.843373
1.20,Under 15 years,0.129677,2.5,2.473333,2.333333,2.000000,2008.500000,10.500000
1.30,15-24 years,3.066761,2.5,2.513333,2.333333,2.000000,2008.500000,10.500000
1.40,25-34 years,7.459722,2.5,2.553333,2.333333,2.000000,2008.500000,10.500000
1.50,35-44 years,8.462778,2.5,2.593333,2.333333,2.000000,2008.500000,10.500000
1.60,45-54 years,8.617222,2.5,2.633333,2.333333,2.000000,2008.500000,10.500000
1.70,55-64 years,5.116571,2.5,2.673333,2.333333,2.000000,2008.500000,10.500000
1.80,65-74 years,1.937370,2.5,2.713333,2.333333,2.000000,2008.500000,10.500000
1.90,75-84 years,1.507650,2.5,2.753333,2.333333,2.000000,2008.500000,10.500000
1.91,85 years and over,2.423485,2.5,2.793333,2.333333,2.000000,2008.500000,10.500000

In [32]:
pd.pivot_table(index=['STUB_NAME','STUB_LABEL','AGE'], data=opioid_df)

                                                                                                               AGE_NUM  \
STUB_NAME                                      STUB_LABEL                                         AGE
Age                                            15-24 years                                        15-24 years      1.3
                                               25-34 years                                        25-34 years      1.4
                                               35-44 years                                        35-44 years      1.5
                                               45-54 years                                        45-54 years      1.6
                                               55-64 years                                        55-64 years      1.7
...                                                                                                                ...
Sex and race and Hispanic origin (single race) Male: Not Hispanic or Latino: Asian                All ages         1.1
                                               Male: Not Hispanic or Latino: Black                All ages         1.1
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages         1.1
                                               Male: Not Hispanic or Latino: White                All ages         1.1
Total                                          All persons                                        All ages         1.1

                                                                                                                ESTIMATE  \
STUB_NAME                                      STUB_LABEL                                         AGE
Age                                            15-24 years                                        15-24 years   3.049167
                                               25-34 years                                        25-34 years   7.480000
                                               35-44 years                                        35-44 years   8.456667
                                               45-54 years                                        45-54 years   8.597500
                                               55-64 years                                        55-64 years   4.956667
...                                                                                                                  ...
Sex and race and Hispanic origin (single race) Male: Not Hispanic or Latino: Asian                All ages      1.820000
                                               Male: Not Hispanic or Latino: Black                All ages     13.983333
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages     17.700000
                                               Male: Not Hispanic or Latino: White                All ages     15.500000
Total                                          All persons                                        All ages      4.566250

                                                                                                               PANEL_NUM  \
STUB_NAME                                      STUB_LABEL                                         AGE
Age                                            15-24 years                                        15-24 years        2.5
                                               25-34 years                                        25-34 years        2.5
                                               35-44 years                                        35-44 years        2.5
                                               45-54 years                                        45-54 years        2.5
                                               55-64 years                                        55-64 years        2.5
...                                                                                                                  ...
Sex and race and Hispanic origin (single race) Male: Not Hispanic or Latino: Asian                All ages           2.5
                                               Male: Not Hispanic or Latino: Black                All ages           2.5
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages           2.5
                                               Male: Not Hispanic or Latino: White                All ages           2.5
Total                                          All persons                                        All ages           2.5

                                                                                                               STUB_LABEL_NUM  \
STUB_NAME                                      STUB_LABEL                                         AGE
Age                                            15-24 years                                        15-24 years             1.2
                                               25-34 years                                        25-34 years             1.3
                                               35-44 years                                        35-44 years             1.4
                                               45-54 years                                        45-54 years             1.5
                                               55-64 years                                        55-64 years             1.6
...                                                                                                                       ...
Sex and race and Hispanic origin (single race) Male: Not Hispanic or Latino: Asian                All ages                5.5
                                               Male: Not Hispanic or Latino: Black                All ages                5.3
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages                5.6
                                               Male: Not Hispanic or Latino: White                All ages                5.2
Total                                          All persons                                        All ages                0.1

                                                                                                               STUB_NAME_NUM  \
STUB_NAME                                      STUB_LABEL                                         AGE
Age                                            15-24 years                                        15-24 years              1
                                               25-34 years                                        25-34 years              1
                                               35-44 years                                        35-44 years              1
                                               45-54 years                                        45-54 years              1
                                               55-64 years                                        55-64 years              1
...                                                                                                                      ...
Sex and race and Hispanic origin (single race) Male: Not Hispanic or Latino: Asian                All ages                 5
                                               Male: Not Hispanic or Latino: Black                All ages                 5
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages                 5
                                               Male: Not Hispanic or Latino: White                All ages                 5
Total                                          All persons                                        All ages                 0

                                                                                                               UNIT_NUM  \
STUB_NAME                                      STUB_LABEL                                         AGE
Age                                            15-24 years                                        15-24 years       2.0
                                               25-34 years                                        25-34 years       2.0
                                               35-44 years                                        35-44 years       2.0
                                               45-54 years                                        45-54 years       2.0
                                               55-64 years                                        55-64 years       2.0
...                                                                                                                 ...
Sex and race and Hispanic origin (single race) Male: Not Hispanic or Latino: Asian                All ages          1.0
                                               Male: Not Hispanic or Latino: Black                All ages          1.0
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages          1.0
                                               Male: Not Hispanic or Latino: White                All ages          1.0
Total                                          All persons                                        All ages          1.5

                                                                                                                 YEAR  \
STUB_NAME                                      STUB_LABEL                                         AGE
Age                                            15-24 years                                        15-24 years  2008.5
                                               25-34 years                                        25-34 years  2008.5
                                               35-44 years                                        35-44 years  2008.5
                                               45-54 years                                        45-54 years  2008.5
                                               55-64 years                                        55-64 years  2008.5
...                                                                                                               ...
Sex and race and Hispanic origin (single race) Male: Not Hispanic or Latino: Asian                All ages     2018.0
                                               Male: Not Hispanic or Latino: Black                All ages     2018.0
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages     2018.0
                                               Male: Not Hispanic or Latino: White                All ages     2018.0
Total                                          All persons                                        All ages     2008.5

                                                                                                               YEAR_NUM
STUB_NAME                                      STUB_LABEL                                         AGE
Age                                            15-24 years                                        15-24 years      10.5
                                               25-34 years                                        25-34 years      10.5
                                               35-44 years                                        35-44 years      10.5
                                               45-54 years                                        45-54 years      10.5
                                               55-64 years                                        55-64 years      10.5
...                                                                                                                 ...
Sex and race and Hispanic origin (single race) Male: Not Hispanic or Latino: Asian                All ages         20.0
                                               Male: Not Hispanic or Latino: Black                All ages         20.0
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages         20.0
                                               Male: Not Hispanic or Latino: White                All ages         20.0
Total                                          All persons                                        All ages         10.5

[66 rows x 8 columns]

In [36]:
pd.pivot_table(index=['STUB_NAME','STUB_NAME_NUM','AGE'], data=opioid_df.query('AGE=="All ages"'))

,,,AGE_NUM,ESTIMATE,PANEL_NUM,STUB_LABEL_NUM,UNIT_NUM,YEAR,YEAR_NUM
STUB_NAME,STUB_NAME_NUM,AGE,,,,,,,
Sex,2,All ages,1.1,4.576042,2.5,2.150,1.5,2008.5,10.5
Sex and race,4,All ages,1.1,4.015345,2.5,4.450,1.0,2008.5,10.5
Sex and race (single race),4,All ages,1.1,8.882353,2.5,4.350,1.0,2018.0,20.0
Sex and race and Hispanic origin,5,All ages,1.1,4.274748,2.5,5.541,1.0,2008.5,10.5
Sex and race and Hispanic origin (single race),5,All ages,1.1,8.058929,2.5,5.605,1.0,2018.0,20.0
Total,0,All ages,1.1,4.566250,2.5,0.100,1.5,2008.5,10.5

In [ ]:
opioid_df.groupby('PANEL')

In [50]:
pd.pivot_table(index=['STUB_LABEL'], 
               columns='YEAR', 
               values='ESTIMATE',
               data=opioid_df.query('AGE=="All ages"'))

YEAR,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
STUB_LABEL,,,,,,,,,,,,,,,,,,,,
All persons,1.875000,1.933333,2.116667,2.625000,2.883333,3.066667,3.316667,3.858333,4.008333,4.125000,4.233333,4.358333,4.658333,4.666667,5.008333,5.625000,6.450000,8.225000,9.258333,9.033333
Female,1.066667,1.166667,1.350000,1.783333,1.950000,2.150000,2.341667,2.675000,2.933333,2.975000,3.108333,3.283333,3.500000,3.491667,3.708333,4.100000,4.491667,5.358333,5.908333,5.666667
Female: American Indian or Alaska Native,3.250000,2.550000,3.850000,4.100000,4.066667,4.233333,4.125000,3.525000,4.825000,3.780000,4.080000,4.220000,4.380000,5.040000,4.820000,4.580000,4.800000,5.660000,4.883333,5.440000
Female: Asian or Pacific Islander,1.000000,0.800000,0.800000,1.100000,1.200000,0.700000,0.850000,0.900000,1.000000,0.733333,0.666667,0.800000,0.800000,0.766667,0.700000,0.866667,0.600000,0.700000,0.780000,0.760000
Female: Black or African American,1.240000,1.280000,1.166667,1.400000,1.416667,1.533333,1.650000,1.816667,1.800000,1.616667,1.716667,1.783333,1.850000,1.916667,2.066667,2.450000,2.700000,3.933333,4.550000,4.783333
Female: Hispanic or Latino: All races,0.925000,0.660000,0.780000,0.916667,0.883333,0.933333,0.950000,1.100000,1.000000,1.083333,1.133333,1.150000,1.283333,1.316667,1.383333,1.483333,1.566667,1.950000,2.016667,2.150000
Female: Not Hispanic or Latino: American Indian or Alaska Native,3.700000,3.050000,4.850000,5.150000,5.233333,5.600000,5.350000,4.825000,6.825000,5.260000,5.920000,6.460000,7.900000,7.280000,7.340000,8.325000,7.020000,8.800000,7.783333,8.500000
Female: Not Hispanic or Latino: Asian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.775000
Female: Not Hispanic or Latino: Asian or Pacific Islander,1.000000,0.800000,0.800000,1.000000,1.200000,1.100000,0.850000,0.950000,0.900000,0.733333,0.850000,0.766667,0.800000,0.766667,0.700000,0.833333,0.733333,0.800000,0.760000,0.760000
Female: Not Hispanic or Latino: Black,1.280000,1.320000,1.166667,1.416667,1.466667,1.566667,1.733333,1.900000,1.866667,1.700000,1.783333,1.850000,1.950000,1.983333,2.133333,2.533333,2.783333,4.066667,4.766667,4.975000
Female: Not Hispanic or Latino: White,1.200000,1.316667,1.583333,2.116667,2.366667,2.683333,2.883333,3.300000,3.683333,3.816667,4.000000,4.283333,4.583333,4.583333,4.883333,5.433333,6.083333,7.166667,7.983333,7.616667
Female: White,1.133333,1.250000,1.466667,1.933333,2.166667,2.383333,2.600000,2.966667,3.266667,3.366667,3.500000,3.733333,4.000000,4.016667,4.266667,4.700000,5.216667,6.116667,6.766667,6.466667
Male,2.641667,2.675000,2.925000,3.516667,3.816667,3.966667,4.266667,5.058333,5.150000,5.275000,5.375000,5.450000,5.841667,5.883333,6.358333,7.166667,8.425000,11.158333,12.641667,12.441667
Male: American Indian or Alaska Native,4.450000,4.750000,4.450000,4.866667,5.366667,5.400000,5.125000,6.300000,5.025000,4.916667,5.750000,5.825000,5.280000,5.600000,5.460000,6.033333,6.033333,6.650000,7.683333,8.940000
Male: Asian or Pacific Islander,1.500000,0.950000,1.000000,1.033333,1.100000,1.400000,1.133333,1.166667,1.066667,1.033333,1.400000,1.300000,1.140000,1.040000,1.400000,1.220000,1.520000,1.900000,2.120000,2.220000
Male: Black or African American,3.960000,3.216667,3.183333,3.333333,3.200000,3.083333,3.516667,4.350000,3.550000,3.250000,3.266667,2.983333,3.300000,3.500000,4.266667,4.933333,6.166667,9.683333,12.383333,13.475000
Male: Hispanic or Latino: All races,3.216667,2.980000,2.820000,2.800000,2.950000,2.550000,2.783333,3.066667,3.016667,3.033333,2.933333,2.633333,2.866667,3.066667,3.400000,3.533333,4.200000,5.750000,6.700000,7.216667
Male: Not Hispanic or Latino: American Indian or Alaska Native,5.150000,5.200000,5.650000,5.766667,6.833333,7.125000,7.100000,8.425000,6.975000,8.260000,8.733333,9.275000,8.480000,8.720000,8.460000,9.466667,9.733333,10.533333,12.483333,14.330000
Male: Not Hispanic or Latino: Asian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.820000
Male: Not Hispanic or Latino: Asian or Pacific Islander,1.400000,0.900000,0.950000,1.000000,1.100000,1.250000,1.133333,1.066667,1.350000,1.033333,1.300000,1.266667,1.275000,1.100000,1.400000,1.160000,1.480000,1.900000,2.120000,2.140000
Male: Not Hispanic or Latino: Black,3.960000,3.250000,3.233333,3.383333,3.266667,3.166667,3.566667,4.516667,3.633333,3.283333,3.366667,3.100000,3.416667,3.616667,4.383333,5.050000,6.333333,9.966667,12.816667,13.875000
Male: Not Hispanic or Latino: Native Hawaiian or Other Pacific Islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.700000
Male: Not Hispanic or Latino: White,2.550000,2.750000,3.150000,3.933333,4.350000,4.716667,5.033333,6.050000,6.366667,6.633333,6.750000,7.083333,7.583333,7.600000,8.116667,9.283333,10.966667,14.266667,16.000000,15.425000
Male: White,2.666667,2.733333,3.033333,3.716667,4.150000,4.333333,4.633333,5.483333,5.733333,5.983333,6.050000,6.216667,6.666667,6.700000,7.150000,8.116667,9.583333,12.466667,13.983333,13.616667

In [46]:
pd.pivot_table(index=['STUB_LABEL','STUB_LABEL_NUM','AGE'], 
               columns='YEAR', 
               values=['ESTIMATE','UNIT','UNIT_NUM'],
               data=opioid_df.query('AGE=="All ages" AND PANEL=='))

                                                                            ESTIMATE  \
YEAR                                                                            1999
STUB_LABEL                                         STUB_LABEL_NUM AGE
All persons                                        0.10           All ages  1.875000
Female                                             2.20           All ages  1.066667
Female: American Indian or Alaska Native           4.60           All ages       NaN
                                                   4.70           All ages  3.250000
Female: Asian or Pacific Islander                  4.80           All ages  1.000000
Female: Black or African American                  4.50           All ages       NaN
                                                   4.60           All ages  1.240000
Female: Hispanic or Latino: All races              5.60           All ages  0.925000
                                                   5.70           All ages       NaN
Female: Not Hispanic or Latino: American Indian... 5.90           All ages  3.700000
                                                   5.91           All ages       NaN
Female: Not Hispanic or Latino: Asian              5.92           All ages       NaN
Female: Not Hispanic or Latino: Asian or Pacifi... 5.91           All ages  1.000000
Female: Not Hispanic or Latino: Black              5.80           All ages  1.280000
                                                   5.90           All ages       NaN
Female: Not Hispanic or Latino: Native Hawaiian... 5.93           All ages       NaN
Female: Not Hispanic or Latino: White              5.70           All ages  1.200000
                                                   5.80           All ages       NaN
Female: White                                      4.40           All ages       NaN
                                                   4.50           All ages  1.133333
Male                                               2.10           All ages  2.641667
Male: American Indian or Alaska Native             4.30           All ages  4.450000
Male: Asian or Pacific Islander                    4.40           All ages  1.500000
Male: Black or African American                    4.20           All ages  3.960000
Male: Hispanic or Latino: All races                5.10           All ages  3.216667
Male: Not Hispanic or Latino: American Indian o... 5.40           All ages  5.150000
Male: Not Hispanic or Latino: Asian                5.50           All ages       NaN
Male: Not Hispanic or Latino: Asian or Pacific ... 5.50           All ages  1.400000
Male: Not Hispanic or Latino: Black                5.30           All ages  3.960000
Male: Not Hispanic or Latino: Native Hawaiian o... 5.60           All ages       NaN
Male: Not Hispanic or Latino: White                5.20           All ages  2.550000
Male: White                                        4.10           All ages  2.666667

                                                                                      \
YEAR                                                                            2000
STUB_LABEL                                         STUB_LABEL_NUM AGE
All persons                                        0.10           All ages  1.933333
Female                                             2.20           All ages  1.166667
Female: American Indian or Alaska Native           4.60           All ages       NaN
                                                   4.70           All ages  2.550000
Female: Asian or Pacific Islander                  4.80           All ages  0.800000
Female: Black or African American                  4.50           All ages       NaN
                                                   4.60           All ages  1.280000
Female: Hispanic or Latino: All races              5.60           All ages  0.660000
                                                   5.70           All ages       NaN
Female: Not Hispanic or Latino: American Indian... 5.90           All ages  3.050000
                                                   5.91           All ages       NaN
Female: Not Hispanic or Latino: Asian              5.92           All ages       NaN
Female: Not Hispanic or Latino: Asian or Pacifi... 5.91           All ages  0.800000
Female: Not Hispanic or Latino: Black              5.80           All ages  1.320000
                                                   5.90           All ages       NaN
Female: Not Hispanic or Latino: Native Hawaiian... 5.93           All ages       NaN
Female: Not Hispanic or Latino: White              5.70           All ages  1.316667
                                                   5.80           All ages       NaN
Female: White                                      4.40           All ages       NaN
                                                   4.50           All ages  1.250000
Male                                               2.10           All ages  2.675000
Male: American Indian or Alaska Native             4.30           All ages  4.750000
Male: Asian or Pacific Islander                    4.40           All ages  0.950000
Male: Black or African American                    4.20           All ages  3.216667
Male: Hispanic or Latino: All races                5.10           All ages  2.980000
Male: Not Hispanic or Latino: American Indian o... 5.40           All ages  5.200000
Male: Not Hispanic or Latino: Asian                5.50           All ages       NaN
Male: Not Hispanic or Latino: Asian or Pacific ... 5.50           All ages  0.900000
Male: Not Hispanic or Latino: Black                5.30           All ages  3.250000
Male: Not Hispanic or Latino: Native Hawaiian o... 5.60           All ages       NaN
Male: Not Hispanic or Latino: White                5.20           All ages  2.750000
Male: White                                        4.10           All ages  2.733333

                                                                                      \
YEAR                                                                            2001
STUB_LABEL                                         STUB_LABEL_NUM AGE
All persons                                        0.10           All ages  2.116667
Female                                             2.20           All ages  1.350000
Female: American Indian or Alaska Native           4.60           All ages       NaN
                                                   4.70           All ages  3.850000
Female: Asian or Pacific Islander                  4.80           All ages  0.800000
Female: Black or African American                  4.50           All ages       NaN
                                                   4.60           All ages  1.166667
Female: Hispanic or Latino: All races              5.60           All ages  0.780000
                                                   5.70           All ages       NaN
Female: Not Hispanic or Latino: American Indian... 5.90           All ages  4.850000
                                                   5.91           All ages       NaN
Female: Not Hispanic or Latino: Asian              5.92           All ages       NaN
Female: Not Hispanic or Latino: Asian or Pacifi... 5.91           All ages  0.800000
Female: Not Hispanic or Latino: Black              5.80           All ages  1.166667
                                                   5.90           All ages       NaN
Female: Not Hispanic or Latino: Native Hawaiian... 5.93           All ages       NaN
Female: Not Hispanic or Latino: White              5.70           All ages  1.583333
                                                   5.80           All ages       NaN
Female: White                                      4.40           All ages       NaN
                                                   4.50           All ages  1.466667
Male                                               2.10           All ages  2.925000
Male: American Indian or Alaska Native             4.30           All ages  4.450000
Male: Asian or Pacific Islander                    4.40           All ages  1.000000
Male: Black or African American                    4.20           All ages  3.183333
Male: Hispanic or Latino: All races                5.10           All ages  2.820000
Male: Not Hispanic or Latino: American Indian o... 5.40           All ages  5.650000
Male: Not Hispanic or Latino: Asian                5.50           All ages       NaN
Male: Not Hispanic or Latino: Asian or Pacific ... 5.50           All ages  0.950000
Male: Not Hispanic or Latino: Black                5.30           All ages  3.233333
Male: Not Hispanic or Latino: Native Hawaiian o... 5.60           All ages       NaN
Male: Not Hispanic or Latino: White                5.20           All ages  3.150000
Male: White                                        4.10           All ages  3.033333

                                                                                      \
YEAR                                                                            2002
STUB_LABEL                                         STUB_LABEL_NUM AGE
All persons                                        0.10           All ages  2.625000
Female                                             2.20           All ages  1.783333
Female: American Indian or Alaska Native           4.60           All ages       NaN
                                                   4.70           All ages  4.100000
Female: Asian or Pacific Islander                  4.80           All ages  1.100000
Female: Black or African American                  4.50           All ages       NaN
                                                   4.60           All ages  1.400000
Female: Hispanic or Latino: All races              5.60           All ages  0.916667
                                                   5.70           All ages       NaN
Female: Not Hispanic or Latino: American Indian... 5.90           All ages  5.150000
                                                   5.91           All ages       NaN
Female: Not Hispanic or Latino: Asian              5.92           All ages       NaN
Female: Not Hispanic or Latino: Asian or Pacifi... 5.91           All ages  1.000000
Female: Not Hispanic or Latino: Black              5.80           All ages  1.416667
                                                   5.90           All ages       NaN
Female: Not Hispanic or Latino: Native Hawaiian... 5.93           All ages       NaN
Female: Not Hispanic or Latino: White              5.70           All ages  2.116667
                                                   5.80           All ages       NaN
Female: White                                      4.40           All ages       NaN
                                                   4.50           All ages  1.933333
Male                                               2.10           All ages  3.516667
Male: American Indian or Alaska Native             4.30           All ages  4.866667
Male: Asian or Pacific Islander                    4.40           All ages  1.033333
Male: Black or African American                    4.20           All ages  3.333333
Male: Hispanic or Latino: All races                5.10           All ages  2.800000
Male: Not Hispanic or Latino: American Indian o... 5.40           All ages  5.766667
Male: Not Hispanic or Latino: Asian                5.50           All ages       NaN
Male: Not Hispanic or Latino: Asian or Pacific ... 5.50           All ages  1.000000
Male: Not Hispanic or Latino: Black                5.30           All ages  3.383333
Male: Not Hispanic or Latino: Native Hawaiian o... 5.60           All ages       NaN
Male: Not Hispanic or Latino: White                5.20           All ages  3.933333
Male: White                                        4.10           All ages  3.716667

                                                                                      \
YEAR                                                                            2003
STUB_LABEL                                         STUB_LABEL_NUM AGE
All persons                                        0.10           All ages  2.883333
Female                                             2.20           All ages  1.950000
Female: American Indian or Alaska Native           4.60           All ages       NaN
                                                   4.70           All ages  4.066667
Female: Asian or Pacific Islander                  4.80           All ages  1.200000
Female: Black or African American                  4.50           All ages       NaN
                                                   4.60           All ages  1.416667
Female: Hispanic or Latino: All races              5.60           All ages  0.883333
                                                   5.70           All ages       NaN
Female: Not Hispanic or Latino: American Indian... 5.90           All ages  5.233333
                                                   5.91           All ages       NaN
Female: Not Hispanic or Latino: Asian              5.92           All ages       NaN
Female: Not Hispanic or Latino: Asian or Pacifi... 5.91           All ages  1.200000
Female: Not Hispanic or Latino: Black              5.80           All ages  1.466667
                                                   5.90           All ages       NaN
Female: Not Hispanic or Latino: Native Hawaiian... 5.93           All ages       NaN
Female: Not Hispanic or Latino: White              5.70           All ages  2.366667
                                                   5.80           All ages       NaN
Female: White                                      4.40           All ages       NaN
                                                   4.50           All ages  2.166667
Male                                               2.10           All ages  3.816667
Male: American Indian or Alaska Native             4.30           All ages  5.366667
Male: Asian or Pacific Islander                    4.40           All ages  1.100000
Male: Black or African American                    4.20           All ages  3.200000
Male: Hispanic or Latino: All races                5.10           All ages  2.950000
Male: Not Hispanic or Latino: American Indian o... 5.40           All ages  6.833333
Male: Not Hispanic or Latino: Asian                5.50           All ages       NaN
Male: Not Hispanic or Latino: Asian or Pacific ... 5.50           All ages  1.100000
Male: Not Hispanic or Latino: Black                5.30           All ages  3.266667
Male: Not Hispanic or Latino: Native Hawaiian o... 5.60           All ages       NaN
Male: Not Hispanic or Latino: White                5.20           All ages  4.350000
Male: White                                        4.10           All ages  4.150000

                                                                                      \
YEAR                                                                            2004
STUB_LABEL                                         STUB_LABEL_NUM AGE
All persons                                        0.10           All ages  3.066667
Female                                             2.20           All ages  2.150000
Female: American Indian or Alaska Native           4.60           All ages       NaN
                                                   4.70           All ages  4.233333
Female: Asian or Pacific Islander                  4.80           All ages  0.700000
Female: Black or African American                  4.50           All ages       NaN
                                                   4.60           All ages  1.533333
Female: Hispanic or Latino: All races              5.60           All ages  0.933333
                                                   5.70           All ages       NaN
Female: Not Hispanic or Latino: American Indian... 5.90           All ages  5.600000
                                                   5.91           All ages       NaN
Female: Not Hispanic or Latino: Asian              5.92           All ages       NaN
Female: Not Hispanic or Latino: Asian or Pacifi... 5.91           All ages  1.100000
Female: Not Hispanic or Latino: Black              5.80           All ages  1.566667
                                                   5.90           All ages       NaN
Female: Not Hispanic or Latino: Native Hawaiian... 5.93           All ages       NaN
Female: Not Hispanic or Latino: White              5.70           All ages  2.683333
                                                   5.80           All ages       NaN
Female: White                                      4.40           All ages       NaN
                                                   4.50           All ages  2.383333
Male                                               2.10           All ages  3.966667
Male: American Indian or Alaska Native             4.30           All ages  5.400000
Male: Asian or Pacific Islander                    4.40           All ages  1.400000
Male: Black or African American                    4.20           All ages  3.083333
Male: Hispanic or Latino: All races                5.10           All ages  2.550000
Male: Not Hispanic or Latino: American Indian o... 5.40           All ages  7.125000
Male: Not Hispanic or Latino: Asian                5.50           All ages       NaN
Male: Not Hispanic or Latino: Asian or Pacific ... 5.50           All ages  1.250000
Male: Not Hispanic or Latino: Black                5.30           All ages  3.166667
Male: Not Hispanic or Latino: Native Hawaiian o... 5.60           All ages       NaN
Male: Not Hispanic or Latino: White                5.20           All ages  4.716667
Male: White                                        4.10           All ages  4.333333

                                                                                      \
YEAR                                                                            2005
STUB_LABEL                                         STUB_LABEL_NUM AGE
All persons                                        0.10           All ages  3.316667
Female                                             2.20           All ages  2.341667
Female: American Indian or Alaska Native           4.60           All ages       NaN
                                                   4.70           All ages  4.125000
Female: Asian or Pacific Islander                  4.80           All ages  0.850000
Female: Black or African American                  4.50           All ages       NaN
                                                   4.60           All ages  1.650000
Female: Hispanic or Latino: All races              5.60           All ages  0.950000
                                                   5.70           All ages       NaN
Female: Not Hispanic or Latino: American Indian... 5.90           All ages  5.350000
                                                   5.91           All ages       NaN
Female: Not Hispanic or Latino: Asian              5.92           All ages       NaN
Female: Not Hispanic or Latino: Asian or Pacifi... 5.91           All ages  0.850000
Female: Not Hispanic or Latino: Black              5.80           All ages  1.733333
                                                   5.90           All ages       NaN
Female: Not Hispanic or Latino: Native Hawaiian... 5.93           All ages       NaN
Female: Not Hispanic or Latino: White              5.70           All ages  2.883333
                                                   5.80           All ages       NaN
Female: White                                      4.40           All ages       NaN
                                                   4.50           All ages  2.600000
Male                                               2.10           All ages  4.266667
Male: American Indian or Alaska Native             4.30           All ages  5.125000
Male: Asian or Pacific Islander                    4.40           All ages  1.133333

In [35]:
pd.pivot_table(index=['STUB_NAME','STUB_LABEL','AGE'], data=opioid_df.query('AGE=="All ages"'))

                                                                                                            AGE_NUM  \
STUB_NAME                                      STUB_LABEL                                         AGE
Sex                                            Female                                             All ages      1.1
                                               Male                                               All ages      1.1
Sex and race                                   Female: American Indian or Alaska Native           All ages      1.1
                                               Female: Asian or Pacific Islander                  All ages      1.1
                                               Female: Black or African American                  All ages      1.1
                                               Female: White                                      All ages      1.1
                                               Male: American Indian or Alaska Native             All ages      1.1
                                               Male: Asian or Pacific Islander                    All ages      1.1
                                               Male: Black or African American                    All ages      1.1
                                               Male: White                                        All ages      1.1
Sex and race (single race)                     Female: American Indian or Alaska Native           All ages      1.1
                                               Female: Black or African American                  All ages      1.1
                                               Female: White                                      All ages      1.1
                                               Male: American Indian or Alaska Native             All ages      1.1
                                               Male: Black or African American                    All ages      1.1
                                               Male: White                                        All ages      1.1
Sex and race and Hispanic origin               Female: Hispanic or Latino: All races              All ages      1.1
                                               Female: Not Hispanic or Latino: American Indian... All ages      1.1
                                               Female: Not Hispanic or Latino: Asian or Pacifi... All ages      1.1
                                               Female: Not Hispanic or Latino: Black              All ages      1.1
                                               Female: Not Hispanic or Latino: White              All ages      1.1
                                               Male: Hispanic or Latino: All races                All ages      1.1
                                               Male: Not Hispanic or Latino: American Indian o... All ages      1.1
                                               Male: Not Hispanic or Latino: Asian or Pacific ... All ages      1.1
                                               Male: Not Hispanic or Latino: Black                All ages      1.1
                                               Male: Not Hispanic or Latino: White                All ages      1.1
Sex and race and Hispanic origin (single race) Female: Hispanic or Latino: All races              All ages      1.1
                                               Female: Not Hispanic or Latino: American Indian... All ages      1.1
                                               Female: Not Hispanic or Latino: Asian              All ages      1.1
                                               Female: Not Hispanic or Latino: Black              All ages      1.1
                                               Female: Not Hispanic or Latino: Native Hawaiian... All ages      1.1
                                               Female: Not Hispanic or Latino: White              All ages      1.1
                                               Male: Hispanic or Latino: All races                All ages      1.1
                                               Male: Not Hispanic or Latino: American Indian o... All ages      1.1
                                               Male: Not Hispanic or Latino: Asian                All ages      1.1
                                               Male: Not Hispanic or Latino: Black                All ages      1.1
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages      1.1
                                               Male: Not Hispanic or Latino: White                All ages      1.1
Total                                          All persons                                        All ages      1.1

                                                                                                             ESTIMATE  \
STUB_NAME                                      STUB_LABEL                                         AGE
Sex                                            Female                                             All ages   3.150417
                                               Male                                               All ages   6.001667
Sex and race                                   Female: American Indian or Alaska Native           All ages   4.453659
                                               Female: Asian or Pacific Islander                  All ages   0.781132
                                               Female: Black or African American                  All ages   2.147458
                                               Female: White                                      All ages   3.564167
                                               Male: American Indian or Alaska Native             All ages   5.901136
                                               Male: Asian or Pacific Islander                    All ages   1.394203
                                               Male: Black or African American                    All ages   4.931092
                                               Male: White                                        All ages   6.648333
Sex and race (single race)                     Female: American Indian or Alaska Native           All ages   5.520000
                                               Female: Black or African American                  All ages   4.800000
                                               Female: White                                      All ages   6.500000
                                               Male: American Indian or Alaska Native             All ages   8.580000
                                               Male: Black or African American                    All ages  13.616667
                                               Male: White                                        All ages  13.666667
Sex and race and Hispanic origin               Female: Hispanic or Latino: All races              All ages   1.247414
                                               Female: Not Hispanic or Latino: American Indian... All ages   6.597500
                                               Female: Not Hispanic or Latino: Asian or Pacifi... All ages   0.812245
                                               Female: Not Hispanic or Latino: Black              All ages   2.227966
                                               Female: Not Hispanic or Latino: White              All ages   4.076667
                                               Male: Hispanic or Latino: All races                All ages   3.587288
                                               Male: Not Hispanic or Latino: American Indian o... All ages   8.903448
                                               Male: Not Hispanic or Latino: Asian or Pacific ... All ages   1.389552
                                               Male: Not Hispanic or Latino: Black                All ages   5.063025
                                               Male: Not Hispanic or Latino: White                All ages   7.426667
Sex and race and Hispanic origin (single race) Female: Hispanic or Latino: All races              All ages   2.150000
                                               Female: Not Hispanic or Latino: American Indian... All ages   8.640000
                                               Female: Not Hispanic or Latino: Asian              All ages   0.775000
                                               Female: Not Hispanic or Latino: Black              All ages   4.966667
                                               Female: Not Hispanic or Latino: Native Hawaiian... All ages        NaN
                                               Female: Not Hispanic or Latino: White              All ages   7.650000
                                               Male: Hispanic or Latino: All races                All ages   7.216667
                                               Male: Not Hispanic or Latino: American Indian o... All ages  13.880000
                                               Male: Not Hispanic or Latino: Asian                All ages   1.820000
                                               Male: Not Hispanic or Latino: Black                All ages  13.983333
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages  17.700000
                                               Male: Not Hispanic or Latino: White                All ages  15.500000
Total                                          All persons                                        All ages   4.566250

                                                                                                            PANEL_NUM  \
STUB_NAME                                      STUB_LABEL                                         AGE
Sex                                            Female                                             All ages        2.5
                                               Male                                               All ages        2.5
Sex and race                                   Female: American Indian or Alaska Native           All ages        2.5
                                               Female: Asian or Pacific Islander                  All ages        2.5
                                               Female: Black or African American                  All ages        2.5
                                               Female: White                                      All ages        2.5
                                               Male: American Indian or Alaska Native             All ages        2.5
                                               Male: Asian or Pacific Islander                    All ages        2.5
                                               Male: Black or African American                    All ages        2.5
                                               Male: White                                        All ages        2.5
Sex and race (single race)                     Female: American Indian or Alaska Native           All ages        2.5
                                               Female: Black or African American                  All ages        2.5
                                               Female: White                                      All ages        2.5
                                               Male: American Indian or Alaska Native             All ages        2.5
                                               Male: Black or African American                    All ages        2.5
                                               Male: White                                        All ages        2.5
Sex and race and Hispanic origin               Female: Hispanic or Latino: All races              All ages        2.5
                                               Female: Not Hispanic or Latino: American Indian... All ages        2.5
                                               Female: Not Hispanic or Latino: Asian or Pacifi... All ages        2.5
                                               Female: Not Hispanic or Latino: Black              All ages        2.5
                                               Female: Not Hispanic or Latino: White              All ages        2.5
                                               Male: Hispanic or Latino: All races                All ages        2.5
                                               Male: Not Hispanic or Latino: American Indian o... All ages        2.5
                                               Male: Not Hispanic or Latino: Asian or Pacific ... All ages        2.5
                                               Male: Not Hispanic or Latino: Black                All ages        2.5
                                               Male: Not Hispanic or Latino: White                All ages        2.5
Sex and race and Hispanic origin (single race) Female: Hispanic or Latino: All races              All ages        2.5
                                               Female: Not Hispanic or Latino: American Indian... All ages        2.5
                                               Female: Not Hispanic or Latino: Asian              All ages        2.5
                                               Female: Not Hispanic or Latino: Black              All ages        2.5
                                               Female: Not Hispanic or Latino: Native Hawaiian... All ages        2.5
                                               Female: Not Hispanic or Latino: White              All ages        2.5
                                               Male: Hispanic or Latino: All races                All ages        2.5
                                               Male: Not Hispanic or Latino: American Indian o... All ages        2.5
                                               Male: Not Hispanic or Latino: Asian                All ages        2.5
                                               Male: Not Hispanic or Latino: Black                All ages        2.5
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages        2.5
                                               Male: Not Hispanic or Latino: White                All ages        2.5
Total                                          All persons                                        All ages        2.5

                                                                                                            STUB_LABEL_NUM  \
STUB_NAME                                      STUB_LABEL                                         AGE
Sex                                            Female                                             All ages            2.20
                                               Male                                               All ages            2.10
Sex and race                                   Female: American Indian or Alaska Native           All ages            4.70
                                               Female: Asian or Pacific Islander                  All ages            4.80
                                               Female: Black or African American                  All ages            4.60
                                               Female: White                                      All ages            4.50
                                               Male: American Indian or Alaska Native             All ages            4.30
                                               Male: Asian or Pacific Islander                    All ages            4.40
                                               Male: Black or African American                    All ages            4.20
                                               Male: White                                        All ages            4.10
Sex and race (single race)                     Female: American Indian or Alaska Native           All ages            4.60
                                               Female: Black or African American                  All ages            4.50
                                               Female: White                                      All ages            4.40
                                               Male: American Indian or Alaska Native             All ages            4.30
                                               Male: Black or African American                    All ages            4.20
                                               Male: White                                        All ages            4.10
Sex and race and Hispanic origin               Female: Hispanic or Latino: All races              All ages            5.60
                                               Female: Not Hispanic or Latino: American Indian... All ages            5.90
                                               Female: Not Hispanic or Latino: Asian or Pacifi... All ages            5.91
                                               Female: Not Hispanic or Latino: Black              All ages            5.80
                                               Female: Not Hispanic or Latino: White              All ages            5.70
                                               Male: Hispanic or Latino: All races                All ages            5.10
                                               Male: Not Hispanic or Latino: American Indian o... All ages            5.40
                                               Male: Not Hispanic or Latino: Asian or Pacific ... All ages            5.50
                                               Male: Not Hispanic or Latino: Black                All ages            5.30
                                               Male: Not Hispanic or Latino: White                All ages            5.20
Sex and race and Hispanic origin (single race) Female: Hispanic or Latino: All races              All ages            5.70
                                               Female: Not Hispanic or Latino: American Indian... All ages            5.91
                                               Female: Not Hispanic or Latino: Asian              All ages            5.92
                                               Female: Not Hispanic or Latino: Black              All ages            5.90
                                               Female: Not Hispanic or Latino: Native Hawaiian... All ages            5.93
                                               Female: Not Hispanic or Latino: White              All ages            5.80
                                               Male: Hispanic or Latino: All races                All ages            5.10
                                               Male: Not Hispanic or Latino: American Indian o... All ages            5.40
                                               Male: Not Hispanic or Latino: Asian                All ages            5.50
                                               Male: Not Hispanic or Latino: Black                All ages            5.30
                                               Male: Not Hispanic or Latino: Native Hawaiian o... All ages            5.60
                                               Male: Not Hispanic or Latino: White                All ages            5.20
Total                                          All persons                                        All ages            0.10

                                                                                                            STUB_NAME_NUM  \
STUB_NAME                                      STUB_LABEL                                         AGE
Sex                                            Female                                             All ages              2
                                               Male                                               All ages              2

In [45]:
pd.pivot_table(index=['INDICATOR','PANEL','PANEL_NUM','UNIT','UNIT_NUM'], data=opioid_df.query('AGE=="All ages"'))

                                                                                                                                                    AGE_NUM  \
INDICATOR                 PANEL                                              PANEL_NUM UNIT                                               UNIT_NUM
Drug overdose death rates All drug overdose deaths                           0         Deaths per 100,000 resident population, age-adj... 1             1.1
                                                                                       Deaths per 100,000 resident population, crude      2             1.1
                          Drug overdose deaths involving any opioid          1         Deaths per 100,000 resident population, age-adj... 1             1.1
                                                                                       Deaths per 100,000 resident population, crude      2             1.1
                          Drug overdose deaths involving heroin              5         Deaths per 100,000 resident population, age-adj... 1             1.1
                                                                                       Deaths per 100,000 resident population, crude      2             1.1
                          Drug overdose deaths involving methadone           3         Deaths per 100,000 resident population, age-adj... 1             1.1
                                                                                       Deaths per 100,000 resident population, crude      2             1.1
                          Drug overdose deaths involving natural and semi... 2         Deaths per 100,000 resident population, age-adj... 1             1.1
                                                                                       Deaths per 100,000 resident population, crude      2             1.1
                          Drug overdose deaths involving other synthetic ... 4         Deaths per 100,000 resident population, age-adj... 1             1.1
                                                                                       Deaths per 100,000 resident population, crude      2             1.1

                                                                                                                                                     ESTIMATE  \
INDICATOR                 PANEL                                              PANEL_NUM UNIT                                               UNIT_NUM
Drug overdose death rates All drug overdose deaths                           0         Deaths per 100,000 resident population, age-adj... 1         10.448055
                                                                                       Deaths per 100,000 resident population, crude      2         12.481667
                          Drug overdose deaths involving any opioid          1         Deaths per 100,000 resident population, age-adj... 1          6.008038
                                                                                       Deaths per 100,000 resident population, crude      2          7.191667
                          Drug overdose deaths involving heroin              5         Deaths per 100,000 resident population, age-adj... 1          1.996960
                                                                                       Deaths per 100,000 resident population, crude      2          1.846667
                          Drug overdose deaths involving methadone           3         Deaths per 100,000 resident population, age-adj... 1          1.091250
                                                                                       Deaths per 100,000 resident population, crude      2          1.150000
                          Drug overdose deaths involving natural and semi... 2         Deaths per 100,000 resident population, age-adj... 1          2.339286
                                                                                       Deaths per 100,000 resident population, crude      2          2.826667
                          Drug overdose deaths involving other synthetic ... 4         Deaths per 100,000 resident population, age-adj... 1          2.259615
                                                                                       Deaths per 100,000 resident population, crude      2          1.956667

                                                                                                                                                    STUB_LABEL_NUM  \
INDICATOR                 PANEL                                              PANEL_NUM UNIT                                               UNIT_NUM
Drug overdose death rates All drug overdose deaths                           0         Deaths per 100,000 resident population, age-adj... 1               4.569772
                                                                                       Deaths per 100,000 resident population, crude      2               1.466667
                          Drug overdose deaths involving any opioid          1         Deaths per 100,000 resident population, age-adj... 1               4.569772
                                                                                       Deaths per 100,000 resident population, crude      2               1.466667
                          Drug overdose deaths involving heroin              5         Deaths per 100,000 resident population, age-adj... 1               4.569772
                                                                                       Deaths per 100,000 resident population, crude      2               1.466667
                          Drug overdose deaths involving methadone           3         Deaths per 100,000 resident population, age-adj... 1               4.569772
                                                                                       Deaths per 100,000 resident population, crude      2               1.466667
                          Drug overdose deaths involving natural and semi... 2         Deaths per 100,000 resident population, age-adj... 1               4.569772
                                                                                       Deaths per 100,000 resident population, crude      2               1.466667
                          Drug overdose deaths involving other synthetic ... 4         Deaths per 100,000 resident population, age-adj... 1               4.569772
                                                                                       Deaths per 100,000 resident population, crude      2               1.466667

                                                                                                                                                    STUB_NAME_NUM  \
INDICATOR                 PANEL                                              PANEL_NUM UNIT                                               UNIT_NUM
Drug overdose death rates All drug overdose deaths                           0         Deaths per 100,000 resident population, age-adj... 1              4.118721
                                                                                       Deaths per 100,000 resident population, crude      2              1.333333
                          Drug overdose deaths involving any opioid          1         Deaths per 100,000 resident population, age-adj... 1              4.118721
                                                                                       Deaths per 100,000 resident population, crude      2              1.333333
                          Drug overdose deaths involving heroin              5         Deaths per 100,000 resident population, age-adj... 1              4.118721
                                                                                       Deaths per 100,000 resident population, crude      2              1.333333
                          Drug overdose deaths involving methadone           3         Deaths per 100,000 resident population, age-adj... 1              4.118721
                                                                                       Deaths per 100,000 resident population, crude      2              1.333333
                          Drug overdose deaths involving natural and semi... 2         Deaths per 100,000 resident population, age-adj... 1              4.118721
                                                                                       Deaths per 100,000 resident population, crude      2              1.333333
                          Drug overdose deaths involving other synthetic ... 4         Deaths per 100,000 resident population, age-adj... 1              4.118721
                                                                                       Deaths per 100,000 resident population, crude      2              1.333333

                                                                                                                                                           YEAR  \
INDICATOR                 PANEL                                              PANEL_NUM UNIT                                               UNIT_NUM
Drug overdose death rates All drug overdose deaths                           0         Deaths per 100,000 resident population, age-adj... 1         2008.890411
                                                                                       Deaths per 100,000 resident population, crude      2         2008.500000
                          Drug overdose deaths involving any opioid          1         Deaths per 100,000 resident population, age-adj... 1         2008.890411
                                                                                       Deaths per 100,000 resident population, crude      2         2008.500000
                          Drug overdose deaths involving heroin              5         Deaths per 100,000 resident population, age-adj... 1         2008.890411
                                                                                       Deaths per 100,000 resident population, crude      2         2008.500000
                          Drug overdose deaths involving methadone           3         Deaths per 100,000 resident population, age-adj... 1         2008.890411
                                                                                       Deaths per 100,000 resident population, crude      2         2008.500000
                          Drug overdose deaths involving natural and semi... 2         Deaths per 100,000 resident population, age-adj... 1         2008.890411
                                                                                       Deaths per 100,000 resident population, crude      2         2008.500000
                          Drug overdose deaths involving other synthetic ... 4         Deaths per 100,000 resident population, age-adj... 1         2008.890411
                                                                                       Deaths per 100,000 resident population, crude      2         2008.500000

                                                                                                                                                     YEAR_NUM
INDICATOR                 PANEL                                              PANEL_NUM UNIT                                               UNIT_NUM
Drug overdose death rates All drug overdose deaths                           0         Deaths per 100,000 resident population, age-adj... 1         10.890411
                                                                                       Deaths per 100,000 resident population, crude      2         10.500000
                          Drug overdose deaths involving any opioid          1         Deaths per 100,000 resident population, age-adj... 1         10.890411
                                                                                       Deaths per 100,000 resident population, crude      2         10.500000
                          Drug overdose deaths involving heroin              5         Deaths per 100,000 resident population, age-adj... 1         10.890411
                                                                                       Deaths per 100,000 resident population, crude      2         10.500000
                          Drug overdose deaths involving methadone           3         Deaths per 100,000 resident population, age-adj... 1         10.890411
                                                                                       Deaths per 100,000 resident population, crude      2         10.500000
                          Drug overdose deaths involving natural and semi... 2         Deaths per 100,000 resident population, age-adj... 1         10.890411
                                                                                       Deaths per 100,000 resident population, crude      2         10.500000
                          Drug overdose deaths involving other synthetic ... 4         Deaths per 100,000 resident population, age-adj... 1         10.890411
                                                                                       Deaths per 100,000 resident population, crude      2         10.500000